.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;  
  display: -moz-box;   
 }
.nav-tabs>li {
  float:none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.glyphicon:before {
	margin-right: 5px;
}

.hidden-xs-inline{
    display: inline-block !important;
}

.panel-title a {
	display: block;
	padding: 10px 15px;
	margin: -10px -15px;
}
.button{
	border: none;
	opacity: 1;
	transition: 0.0s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
 }

 .button:hover {
		 opacity: .9;
		 background-color: rgb(45, 129, 197);
		 color: whitesmoke;
 }