.nav-tabs {
    overflow-x: auto;
   overflow-y: hidden;
   display: -webkit-box;  
   display: -moz-box;   
 }
.nav-tabs>li {
     float:none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}