body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D9EDF6;
	text-align: justify;
	width: 100%;
  }

  form {
	border: 3px solid grey;
	}
	
  input[type=text],
  input[type=password] {
	width: 100%;
	padding: 12px 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid grey;
	box-sizing: border-box;
  }

  button:hover {
		background-color: #008CBA;
		color: white;
		white-space:normal;
  }

  .container {
	padding: 16px;
	width: 100%;
	background: #D9EDF6
	}
	
	#zoomButton {
		width: 20%;
		margin-left:30%;
		margin-right: 70%;
		white-space: normal;
		word-wrap: break-word;
	}

	#loginButton {
		width: 20%;
		margin-left:38%;
		word-wrap: break-word;
	}

	#welcome{
		width: 100%;
		font-weight: bold;
		margin-left:30.5%;
	}

  span.passwod {
	float: right;
	padding-top: 16px;
	}
