<html>

<head></head>

<body>
  <div id="welcome">
    <p> Please login to access site </p>
  </div>
  <button id="zoomButton" onclick="document.getElementById('id01').style.display='block'">Login</button>
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content animate" action="/action_page.php">

      <form action="http://144.13.22.48/WildFlowers/get_login.php" method="POST">
        <div class="container">
          <label for="username">
            <b>Username</b>
          </label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <label for="password">
            <b>Password</b>
          </label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button id="loginButton" type="submit">Login</button>
        </div>
      </form>


    </form>
  </div>

</body>

</html>