<body>
  <div id="welcome">
    <p> Please login to access site </p>
  </div>
  <button class="btn btn-primary" id="zoomButton"  data-toggle="modal" data-target="#loginModal">Login</button>

  <!-- Modal -->
  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content panel panel-primary">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body panel-body">
          <div class="panel-group">
            <form action="http://144.13.22.48/WildFlowers/get_login.php" method="POST">
              <div class="container">
                <label for="username">
                  <b>Username</b>
                </label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password">
                  <b>Password</b>
                </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button class="btn btn-primary" id="loginButton" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>