<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Plant Family Quiz</h3>
  </div>
  <div class="panel-body">
    <p>Below are listed {{ count }} plants with listed scientific names taken randomly from this website's list. Please select the correct family for each plant and press submit answers.</p>
    <div class="table-responsive" align="center">
      <div class="table" style="white-space: normal" cellspacing="100">
        <tbody>
          <div *ngFor="let plant of plants; let index = index">
            <tr>
              <td class="text-justify"><strong>Question {{index + 1}}:</strong> {{ plant.sciName }}</td>
              <td align = "center">
                <select class="form-control" (change)="familyNameSelect($event)">
                  <option *ngFor="let family of familyList" [value]="family.value">{{family.name}}</option>
                </select>
              </td>
            </tr>
          </div>
        </tbody>
      </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="submit()">Submit Answers</button>
    <div *ngFor="let result of results; let i = index">
      <div *ngIf="result === 1; else wrong">
        <strong>Question {{i + 1}}:</strong> Correct!
      </div>
      <ng-template #wrong>
        <div *ngIf="result === 2">
          <strong>Question {{i + 1}}:</strong> Incorrect!
        </div>
      </ng-template>
    </div>
  </div>
</div>