<div class="panel panel-primary">
    <!-- Set heading based on stage -->
    <div class="panel-heading">
      <div *ngIf="stage === 1">
        <h3>{{stage1Title}}</h3>
        {{instructions}}
      </div>
      <div *ngIf="stage === 2">
        <h3>{{stage2Title}}</h3>
        {{instructions}}
      </div>
      <div *ngIf="stage === 3">
        <h3>{{stage3Title}}</h3>
        {{instructions}}
      </div>
      <div *ngIf="stage === 9">
        <h3>{{errorTitle}}</h3>
      </div>
      <div *ngIf="stage > 3 && stage != 9">
        <h3>{{classificationTitle}}</h3>
        {{instructions}}
      </div>
    </div>
    <!-- Set up body of panel based on stage -->
    <div class="panel-body">
      <!-- Stage 1 handles the flower type of the group code
      If stage is set to 0 none of the below code will run -->
      <div *ngIf="stage === 1">
        <div *ngFor="let flower of flowerType">
            <button class="btn btn-secondary btn-block btn-custom-btm-padding" (click)="select(flower.code)">{{ flower.type }}</button>
        </div>
      </div>
      <div *ngIf="stage === 2">
        <!-- Stage 2 handles the plant type of the group code -->
        <div *ngFor="let plant of plantType">
            <button class="btn btn-secondary btn-block btn-custom-btm-padding" (click)="select(plant.code)">{{ plant.type }}</button>
        </div>
      </div>
      <!-- Stage three handles the leaf type code. 
     It also checks the validity of the code
     And if the code has duplicates -->
      <div *ngIf="stage === 3">
        <div *ngFor="let leaf of leafType">
            <button class="btn btn-secondary btn-block btn-custom-btm-padding" (click)="select(leaf.code)">{{ leaf.type }}</button>
            <!--Call Group Code Corrections Function -->
        </div>
      </div>
      <!-- Here we store the back button for stages 2 and 3-->
      <div *ngIf="stage > 1 && stage < 4">
            <!-- back button-->
          <button class="btn btn-primary" (click)="stepBack()">Back</button>
      </div>
      <!-- This is an error catch for the verity() function -->
      <div *ngIf="stage === 9">
          <div class="alert alert-danger">
              <p><strong>Error:</strong> {{errorMsg}}</p>
          </div>

          <button type="button" class="btn btn-primary" rounterLink="/classification" (click)="stepBack()">Back</button>
          <button type="button" class="btn btn-primary" routerLink="/classification" (click)="homeButton()">Return to start</button>
      </div>
      <div *ngIf="stage > 3 && stage != 9">
          <!-- next component in the searching -->
          <!-- Here the the question-generate.html is called up and this document no 
          longer deals with three-digit.componet.ts -->
          
          <app-question-generate [codeNum]=finalNum></app-question-generate>
          <button class="btn btn-primary" (click)="stepBack()">Reclassify Questions</button>
      </div>
  
    </div>
  </div>