<div *ngIf="stage === 1">
  <div *ngFor="let flower of flowerType">
    <button (click)="select(flower.code)">{{ flower.type }}</button>
    <!-- I think here -->
  </div>
</div>
<div *ngIf="stage === 2">
  <div *ngFor="let plant of plantType">
    <button (click)="select(plant.code)">{{ plant.type }}</button>
  </div>
</div>
<div *ngIf="stage === 3">
  <div *ngFor="let leaf of leafType">
    <button (click)="select(leaf.code)">{{ leaf.type }}</button>
  </div>
</div>
<div *ngIf="stage > 3">
    <!-- next component in the searching -->
    <app-question-generate></app-question-generate>
</div>
