<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3>Glossary</h3>
    </div>
    <div class="panel panel-body">
        <ul class="list-group">
            <!-- This li is for the seach area -->
            <li class="list-group-item">
                <div class="well well-sm">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="glossarySearchInput">
                                <span class="glyphicon glyphicon-search"></span>Search:
                            </label>
                            <input #glossaryInput type="text" (keyup)="filterList(glossaryInput.value)" class="form-control" id="glossarySearchInput" placeholder="ex: umbel">
                        </div>
                    </form>
                </div>
            </li>
            <!-- Loop for Terms -->
            <li class="list-group-item termItem" *ngFor="let term of filteredTerms">
                <h4 class="list-group-item-heading text-left">{{term.word}}:</h4>
                <p class="list-group-item-text text-left">{{term.definition}}</p>
            </li>
        </ul>
        <!-- Display and error message if there are no terms to display -->
        <div *ngIf="filteredTerms.length < 1">
            <div class="alert alert-danger fade in">
                    <strong>Error:</strong> The term you are looking for doesn't exist! Please check your spelling and try again.
            </div>
        </div>
    </div>
  </div>