<div *ngFor="let question of questions">
    <div *ngIf="question.text!==''">
        <button class="btn btn-secondary btn-block btn-custom-btm-padding" (click)="select(question.qNum, question.type, question.resultId)">{{ question.text }}</button>
    </div>
</div>
<!-- This is to display the back button -->
<div *ngIf="setNum > 1">
    <button class="btn btn-primary btn-custom-btm-padding" (click)="goBack()">Back</button>
</div>
<button class="btn btn-primary" (click)="currentresults(currentId)">Display Current Results</button>
 