.btn-custom-btm-padding{
    margin-bottom: 5px;
}
.button{
    border: none;
    opacity: 1;
    transition: 0.0s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
   }

   .button:hover {
       opacity: .9;
       background-color: rgb(45, 129, 197);
       color: whitesmoke;
   }