<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Test Your Knowledge</h4>
  </div>
  <div class="panel-body">
      <!-- Stage 1 handles the flower type of the group code
      If stage is set to 0 none of the below code will run -->

      <button type="button" class="btn btn-secondary btn-block" routerLink="/struct_quiz">Floral Structure Quiz</button>
      <button type="button" class="btn btn-secondary btn-block" routerLink="/arrange_quiz">Floral Arrangement Quiz</button>
      <button type="button" class="btn btn-secondary btn-block" routerLink="/plant_quiz">Plant Quiz</button>
  </div>
</div>
  
