<!-- <h1>Wildflower Search</h1>
        <h2>Select the plant family the your plant is in.</h2>
    	<form action="http://mscs-php.uwstout.edu/web/parameters.php" method="post">
        	<table>
                <tr>
                <td>Family:</td>
                <td>
                    <select name="family" size="1">
                    <option selected value="">Family...</option>
                    <option value="1">Acanthus</option>
                    <option value="2">Amaranth</option>
                    <option value="3">Amaryllis</option>
                    <option value="4">Arum</option>
                    <option value="5">Barberry</option>
                    <option value="6">Bignonia</option>
                    <option value="7">Birthwort</option>
                    <option value="8">Bladdernut</option>
                    <option value="9">Bladderwort</option>
                    <option value="10">Bloodwort</option>
                    <option value="11">Bluebell</option>
                    <option value="12">Borage</option>
                    <option value="13">Broomrape</option>
                    <option value="14">Buckthorn</option>
                    <option value="15">Buckwheat</option>
                    <option value="16">Bur Reed</option>
                    <option value="17">Buttercup</option>
                    <option value="18">Cactus</option>
                    <option value="19">Caper</option>
                    <option value="20">Carpetweed</option>
                    <option value="21">Cashew</option>
                    <option value="22">Cattail</option>
                    <option value="23">Composite</option>
                    <option value="24">Crowberry</option>
                    <option value="25">Diapensia</option>
                    <option value="26">Dogbane</option>
                    <option value="27">Dogwood</option>
                    <option value="28">Evening Primrose</option>
                    <option value="29">False Mermaid</option>
                    <option value="30">Figwort</option>
                    <option value="31">Flax</option>
                    <option value="32">Flowering Rush</option>
                    <option value="33">Four-o'clock</option>
                    <option value="34">Gentian</option>
                    <option value="35">Geranium</option>
                    <option value="36">Ginseng</option>
                    <option value="37">Goosefoot</option>
                    <option value="38">Gourd</option>
                    <option value="39">Grape</option>
                    <option value="40">Heath</option>
                    <option value="41">Hemp</option>
                    <option value="42">Holly</option>
                    <option value="43">Honeysuckle</option>
                    <option value="44">Iris</option>
                    <option value="45">Laurel</option>
                    <option value="46">Leadwort</option>
                    <option value="47">Lily</option>
                    <option value="48">Lizard's Tail</option>
                    <option value="49">Lobelia</option>
                    <option value="50">Loosestrife</option>
                    <option value="51">Lopseed</option>
                    <option value="52">Madder</option>
                    <option value="53">Magnolia</option>
                    <option value="54">Mallow</option>
                    <option value="55">Meadow Beauty</option>
                    <option value="56">Mezereum</option>
                    <option value="57">Milkweed</option>
                    <option value="58">Milkwort</option>
                    <option value="59">Mint</option>
                    <option value="60">Moonseed</option>
                    <option value="61">Morning Glory</option>
                    <option value="62">Mustard</option>
                    <option value="63">Nettle</option>
                    <option value="64">Nightshade</option>
                    <option value="65">Olive</option>
                    <option value="66">Orchids</option>
                    <option value="67">Parsley</option>
                    <option value="68">Passionflower</option>
                    <option value="69">Pea</option>
                    <option value="70">Phlox</option>
                    <option value="71">Pickerelweed</option>
                    <option value="72">Pink</option>
                    <option value="73">Pipewort</option>
                    <option value="74">Pitcher</option>
                    <option value="75">Pokeweed</option>
                    <option value="76">Poppy</option>
                    <option value="77">Primrose</option>
                    <option value="78">Purslane</option>
                    <option value="79">Pyrola</option>
                    <option value="80">Rockrose</option>
                    <option value="81">Rose</option>
                    <option value="82">Rue</option>
                    <option value="83">Sandalwood</option>
                    <option value="84">Saxifrage</option>
                    <option value="85">Sedum</option>
                    <option value="86">Spiderwort</option>
                    <option value="87">Spurge</option>
                    <option value="88">St. Johnswort</option>
                    <option value="89">Staff Tree</option>
                    <option value="90">Stonecrop</option>
                    <option value="91">Sundew</option>
                    <option value="92">Teasel</option>
                    <option value="93">Touch-me-not</option>
                    <option value="94">Valerian</option>
                    <option value="95">Vervain</option>
                    <option value="96">Violet</option>
                    <option value="97">Water Lily</option>
                    <option value="98">Water Milfoil</option>
                    <option value="99">Water Plantain</option>
                    <option value="100">Waterleaf</option>
                    <option value="101">White Alder</option>
                    <option value="102">Wood Sorrel</option>
                    <option value="103">Yam</option>
                    <option value="104">Yellow-eyed Grass</option>
                    <option value="105">Plantain</option>
                    <option value="106">Witch Holly</option>
                    </select>
                </td>
                </tr>
                <tr>
                	<td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
         </form> -->
<h1>Plant Search</h1>
<select (change)="select($event)">
  <option *ngFor="let family of familyList" [value]="family.value">{{family.name}}</option>
</select>
