.contain{object-fit: contain;}
a.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
    a.button1:hover{
        color:#000000;
        background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     a.button1{
        display:block;
        margin:0.4em auto;}
    } 
    .container .panel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .i-am-centered { margin: auto; max-width: 300px;}